{% extends 'base.html.twig' %}

{% block content %}
    <table>
        <thead>
            <th colspan="2" class="green">Managers</th>
        </thead>
        <tbody>
        {% for manager in managers %}
            <tr>
                <td>{{ manager.employee.firstName }} {{ manager.employee.lastName }}</td>
                <td>{{ manager.employee.hireDate|date("Y-m-d") }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <table>
        <thead>
            <th colspan="2" class="green">Employees</th>
        </thead>
        <tbody>
        {% for employee in employees %}
            <tr>
                <td>
                    <a href="{{ path('employee_show', {'id': employee.id}) }}">{{ employee.firstName }} {{ employee.lastName }}</a>
                </td>
                <td>{{ employee.hireDate|date("Y-m-d") }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
