{% extends 'base.html.twig' %}

{% block content %}
    <table>
        <thead>
           <th colspan="2" class="green">{{ employee.firstName }} {{ employee.lastName }}</th>
        </thead>
        <tbody>
            <tr class="bold">
                <td>Hire Date</td><td>{{ employee.hireDate|date("M d, Y") }}</td>
            </tr>
            <tr class="bold">
                <td>Birth Date</td><td>{{ employee.birthDate|date("M d, Y") }}</td>
            </tr>
            <tr class="bold">
                <td>Gender</td>
                {% if employee.gender == "M" %}
                    <td>Male</td>
                {% else %}
                    <td>Female</td>
                {% endif %}
            </tr>
            {% if manager != null %}
                <tr class="bold">
                    <td>Manager</td>
                    <td>{{ manager.fromDate|create_period(manager.toDate, "M d, Y", "d") }}</td>
                </tr>
            {% endif %}

            <tr>
                <td class="green bold" colspan="2">Department:</td>
            </tr>
            {% set class = "" %}
            {% for dept in departments %}
                {% if loop.last %}
                    {% set class = "bold" %}
                {% endif %}
                <tr class="{{ class }}">
                    <td>{{ dept.name }}</td>
                    <td>{{ dept.fromDate|create_period(dept.toDate, "M d, Y", "d") }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td class="green bold" colspan="2">Position:</td>
            </tr>

            {% set class = "" %}
            {% for position in positions %}
                {% if loop.last %}
                    {% if loop.last %}
                        {% set class = "bold" %}
                    {% endif %}
                {% endif %}
                <tr class="{{ class }}">
                    <td>{{ position.title }}</td>
                    <td>{{ position.fromDate|create_period(position.toDate, "M d, Y") }}</td>
                </tr>
            {% endfor %}

            <tr>
                <td class="green bold" colspan="2">Salary:</td>
            </tr>
            {% set class = "" %}
            {% for salary in salaries %}
                {% if loop.last %}
                    {% set class = "bold" %}
                {% endif %}
                    <tr class="{{ class }}">
                        <td>{{ salary.salary }}</td>
                        <td>{{ salary.fromDate|create_period(salary.toDate, "M d, Y") }}</td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
