<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <style>
                h1{
                    text-align: center;
                    color: red;
                }
                a{
                    text-decoration-color: transparent;
                    color: black;
                }
                a:hover{
                    text-decoration-color: black;
                }
                .green{
                    background-color: #6AA84F;
                }
                .bold{
                    font-weight: bold;
                }
                table{
                    width: 800px;
                    margin: 0 auto;
                    border-collapse: collapse;
                }
                table td, table th{
                    width: 50%;
                    padding-left: 10px;
                    line-height: 28px;
                    border: 2px solid black;
                }
            </style>
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
    {% block body %}

            {% block content %}{% endblock %}

    {% endblock %}
    </body>
</html>
