{% extends 'base.html.twig' %}

{% block content %}
    <table>
        <thead>
            <th class="green">Departments</th>
        </thead>
        <tbody>
            {% for department in departments %}
            <tr>
                <td>
                    <a href="{{ path('department_show', {'id': department.id}) }}">{{ department.name }}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
